<div class="container">
  <h1>Everyday Apps!</h1>
  <h4>I try to build a small extension off this site as frequently as possible. Inspired by <a target="_blank" href="http://jenniferdewalt.com/">Jennifer Dewalt's</a> 180 websites in 180 days.</h4>
  <ul>
    <li>
      <a href="/apps/background"><h4>Background</h4></a>
    </li>
    <li>
      <a href="/apps/todo"><h4>Todo</h4></a>
    </li>
    <li>
      <a href="/apps/boxdot"><h4>BoxDot</h4></a>
    </li>
    <li>
      <a href="/apps/bouncy"><h4>Bouncy</h4></a>
    </li>
    <li>
      <a href="/apps/ip"><h4>My IP</h4></a>
    </li>
    <li>
      <a href="/apps/stopwatch"><h4>Stopwatch</h4></a>
    </li>
    <li>
      <a href="/apps/texty"><h4>Texty</h4></a>
    </li>
    <li>
      <a href="/apps/confessions"><h4>Confessions</h4></a>
    </li>
    <li>
      <a href="/apps/zx_ball"><h4>ZX Ball</h4></a>
    </li>
  </ul>
</div>