<iframe id="video" style="height: 500px; width: 600px;" src='http://www.youtube.com/embed/<%= @post.url %>?autoplay=1' >
</iframe>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4><%= @post.description.html_safe %></h4>
    </div>

    <% if admin_signed_in? %>
      <%= link_to 'edit', edit_post_path(@post) %>
    <% end %>

    <div id="disqus_thread" class="col-md-6"></div>
  </div>
</div>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'lowellmower';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
$(window).resize(setSize);
  function setSize(){
    $('#video').width(getWidth);
  };
  setSize();
function getWidth(){
  return $(window).width() - 120;
};
</script>