<div class="container">
  <h1>Hello Bouncy!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button id="app-bouncy-btn" class="btn btn-primary">Add Ball!</button>
    </div>
    <div class="col-md-10" id="app-bouncy-box">
      <b></b>
    </div>
  </div>
</div>