<body id="app-stopwatch">
<div class="container">
  <div class="app-stopwatch-main">
    <h1>Hello Stopwatch!</h1>
    <h1><clock>00:00:00</clock></h1>
    <button class="btn btn-success start">Start</button>
    <button class="btn btn-warning stop">Stop</button>
    <button class="btn btn-primary reset">Reset</button>
  </div>
</div>
</body>